@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 13px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}

nav{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3px;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8vw;
  line-height: 8vw;
  text-shadow: -3px 6px 10px rgba(33,33,33, 0.2);
}
h4{
  font-family: 'Roboto Condensed','Noto Sans TC', sans-serif;
  font-size: 30px;
}
p{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 15px;
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
